<%= form_for @custom_beanie do |form| %>
 
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :custom_beanie_title %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :custom_beanie_logo %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :custom_beanie_image %>
  </div>

  <div class="field">
    <%= form.label :back_image %>
    <%= form.file_field :back_image, id: :custom_beanie_back_image %>
  </div>

  <div class="field">
    <%= form.label :left_image %>
    <%= form.file_field :left_image, id: :custom_beanie_left_image %>
  </div>

  <div class="field">
    <%= form.label :right_image %>
    <%= form.file_field :right_image, id: :custom_beanie_right_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :custom_beanie_price %>
  </div>
  
  <div class="field">
    <%= form.label :product_detail %>
    <%= form.text_field :product_detail, id: :custom_beanie_product_detail %>
  </div>
  <div class="form-group">
    <div class="row">
      <%= select_tag(:brand_id, options_for_select(@brands), :prompt => "select add brand") %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
