<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom_beany.title %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @custom_beany.logo %>
</p>

<p>
  <strong>Image:</strong>
  <%= @custom_beany.image %>
</p>

<p>
  <strong>Back image:</strong>
  <%= @custom_beany.back_image %>
</p>

<p>
  <strong>Left image:</strong>
  <%= @custom_beany.left_image %>
</p>

<p>
  <strong>Right image:</strong>
  <%= @custom_beany.right_image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @custom_beany.price %>
</p>

<%= link_to 'Edit', edit_custom_beany_path(@custom_beany) %> |
<%= link_to 'Back', custom_beanies_path %>
