<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
<h1 align="center"><%= "brand: " + @brand.name %></h1>
	<div align="center">
		<div class="row">
			<span class="badge"><%= link_to "Edit brand Name", edit_brand_path(@brand) %></span>
		</div>
	</div>
	<%= render 'custom_snapbacks/custom_snapback', obj: @brand_custom_snapbacks %>
	
 