<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @custom_fitted_hat.title %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @custom_fitted_hat.logo %>
</p>

<p>
  <strong>Image:</strong>
  <%= @custom_fitted_hat.image %>
</p>

<p>
  <strong>Back image:</strong>
  <%= @custom_fitted_hat.back_image %>
</p>

<p>
  <strong>Left image:</strong>
  <%= @custom_fitted_hat.left_image %>
</p>

<p>
  <strong>Right image:</strong>
  <%= @custom_fitted_hat.right_image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @custom_fitted_hat.price %>
</p>

<%= link_to 'Edit', edit_custom_fitted_hat_path(@custom_fitted_hat) %> |
<%= link_to 'Back', custom_fitted_hats_path %>
