<header class="header text-uppercase">
	<div class="container-fluid">

		<nav class="user-bar text-right">
			<% if user_signed_in? %>
				<%= link_to 'LOGOUT',destroy_user_session_path, method: :delete %>
			<% else %>
				<%=link_to 'LOGIN', home_login_form_path %>
			<% end %>
			<span>/</span> 
			<%= link_to 'Sign Up', home_signup_form_path %></p>
		</nav>

		<nav class="navbar navbar-default">
			<div class="navbar-header">
			<a class="navbar-brand" href="http://localhost:3000"><%= image_tag "classics-2x.png",width: "130" %></a>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-push-10">

					<form accept-charset="UTF-8" action="https://capbeast.com/products" class="navbar-form navbar-left" method="get" onsubmit="search_submit(&#39;&#39;)"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
					<input autofocus="autofocus" class="form-control" id="keywords" name="keywords" placeholder="Search" type="search" />
					<button type="submit" class="btn btn-default"><i class="icon-search"></i></button>
					</form> 
					<ul class="tools nav navbar-nav">
					<li><a class="btn-search" href="#"><i class="icon-search"></i></a></li>
					<li><a href="/orders/"><%= image_tag "cart.png", width: "30px" %></a></li>
					</ul>
				</div>
				<div class="col-sm-10 col-sm-pull-2 main-menu">
					<div class="collapse navbar-collapse" id="main-menu">

						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">create <span class="caret"></span></a>
								<div class="dropdown-menu">
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-3 col-xs-5">
												<div class="img-holder text-center">
													<a href="#">
													<picture>
													<!-- <img alt="custom hats" class="menu-image-holder" src="assets/spree/frontend/home/img-drop-01-7b266f9ad77779fc2e6f77287763ae1902934bd5d2e42815cdc6319853955b65.jpg" width="150" /> -->
													</picture>
													</a>
												</div>
											</div>
											<div class="col-sm-3 col-xs-7">
												<ul class="list-unstyled">
												<li><%= link_to "Custom Snapbacks", custom_snapbacks_path %></li>
												<li> <%= link_to "Custom Fitted Hats", custom_fitted_hats_path %></li>
												<li><%= link_to "Custom Dad Hats", custom_strapback_hats_path %></li>
												<li><%= link_to "Custom Camo Hats", custom_camo_hats_path %></li>
												</ul>
											</div>
											<div class="col-sm-3 col-xs-7">
											<ul class="list-unstyled">
											<li><%= link_to "Custom Beanies", custom_beanies_path %></li>
											<li><%= link_to "Custom 5 panel Hats", custom_panel_hats_path %></li>
											<li><%= link_to "Custom Trucker Hats", custom_trucker_hats_path %></li>
											<li><%= link_to "Custom Bucket Hats", custom_bucket_hats_path %></li>
											</ul>
											</div>
											<div class="col-sm-3 col-xs-7">
											<ul class="list-unstyled">
											<li><%= link_to "Custom Athletic Hats", custom_athletic_hats_path %></li>
											<li><%= link_to "Custom Golf Hats", custom_golf_hats_path %></li>
											<li><%= link_to "Custom Military Hats", custom_military_hats_path %></li>
											</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">BRANDS <span class="caret"></span></a>
							<div class="dropdown-menu">
								<div class="container-fluid">
									<ul class="brands-list list-inline text-center">
										<li>
											<a class="menu-thumbail" href="brands/new-era.html"><!-- <img alt="New era 2x" src="../uploads.capbeast.com/spree/general_images/287504/product/new-era-2xaf97.png?1488226617" width="81" /> --></a>
										</li>
									 	<li>
											<a class="menu-thumbail" href="brands/flexfit.html"><!-- <img alt="Flexfit 2x" src="../uploads.capbeast.com/spree/general_images/287505/product/flexfit-2x0137.png?1488226654" width="81" /> --></a>
										</li>
										<li>
										<a class="menu-thumbail" href="brands/yupoong.html"><!-- <img alt="Yupoong 2x" src="../uploads.capbeast.com/spree/general_images/287506/product/yupoong-2xbc98.png?1488226682" width="81" /> --></a>
										</li>
										<li>
										<a class="menu-thumbail" href="brands/nike.html"><!-- <img alt="Nike 2x" src="../uploads.capbeast.com/spree/general_images/287507/product/nike-2x3237.png?1488226717" width="81" /> --></a>
										</li>
										<li>
										<a class="menu-thumbail" href="brands/capbeast-classics.html"><!-- <img alt="Classics 2x" src="../uploads.capbeast.com/spree/general_images/287508/product/classics-2xa555.png?1488226761" width="81" /> --></a>
										</li>
										<li>
										<a class="menu-thumbail" href="brands/oakley.html"><!-- <img alt="Oakley 2x" src="../uploads.capbeast.com/spree/general_images/287510/product/oakley-2x8e28.png?1488226784" width="81" /> --></a>
										</li>
									</ul>
								</div>
							</div>
							</li>

							<li><a href="faq.html">FAQ</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
						<li>
						</li>
						<li><a href="request_quote.html">GET A QUOTE</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>