
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    
    <link rel="stylesheet" href="https://capbeast.com/assets/theme-main-255ef60416f8a69e801afcf3c0b20873c5056da7567b137568a9062a9e515b30.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
      <!-- <script async type="text/javascript" src="..//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script> -->
      <!-- <script defer type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
      
  </head>
  <body>
    <div class = "conatiner">
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <hr style="margin-top: 0px; border-color: #d2d2d1;" />
          <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div> <!-- /container -->
  </body>
</html>
