
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="6MHXe3guztMT3PSgqCz3dcEP0STM26HTxnJl7Hs6e54=" name="csrf-token" />
    <meta content="Design your own Custom Hats, Caps and Snapbacks With No Minimums. Check out our deals on custom New Era, Flexfit, Yupoong and more. " name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="make your own snapback, customized snapbacks, personalized snapbacks, custom embroidered snapback hats" name="keywords" />
    <meta content="Create your own Custom Snapbacks and more at CapBeast. High-Quality Embroidery with No Minimums! Design online and create your one of a kind look today." name="description" />


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <%#= javascript_include_tag 'ckeditor/ckeditor' %>

    <script type="text/javascript">
    var CKEDITOR_BASEPATH = '/ckeditor/';
</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://capbeast.com/assets/theme-main-255ef60416f8a69e801afcf3c0b20873c5056da7567b137568a9062a9e515b30.css">
    <link href="assets/spree/frontend/favicon-bfb20bd329d811a1f6f6dc9f4d9c1baedd5e02ee56097cf5b40ed0f55cc63655.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="index.html" rel="canonical" />
    <link href="assets/theme-main-255ef60416f8a69e801afcf3c0b20873c5056da7567b137568a9062a9e515b30.css" media="screen" rel="stylesheet" />
    <link href="/assets/spree/frontend/favicon-bfb20bd329d811a1f6f6dc9f4d9c1baedd5e02ee56097cf5b40ed0f55cc63655.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://capbeast.com/custom-hats/custom-snapbacks" rel="canonical" />




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"fd28623d5d","applicationID":"82359750","transactionName":"IAkMTBBeXA4GQ05EFBEDBxcKXl0HTFgPUwEb","queueTime":0,"applicationTime":316,"agent":""}</script>
    <script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function r(n){if(!t[n]){var o=t[n]={exports:{}};e[n][0].call(o.exports,function(t){var o=e[n][1][t];return r(o||t)},o,o.exports)}return t[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(e,t,n){function r(){}function o(e,t,n){return function(){return i(e,[f.now()].concat(u(arguments)),t?null:this,n),t?void 0:this}}var i=e("handle"),a=e(2),u=e(3),c=e("ee").get("tracer"),f=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],d="api-",l=d+"ixn-";a(p,function(e,t){s[t]=o(d+t,!0,"api")}),s.addPageAction=o(d+"addPageAction",!0),s.setCurrentRouteName=o(d+"routeName",!0),t.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,t){var n={},r=this,o="function"==typeof t;return i(l+"tracer",[f.now(),e,n],r),function(){if(c.emit((o?"":"no-")+"fn-start",[f.now(),r,o],n),o)try{return t.apply(this,arguments)}catch(e){throw c.emit("fn-err",[arguments,this,e],n),e}finally{c.emit("fn-end",[f.now()],n)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,t){m[t]=o(l+t)}),newrelic.noticeError=function(e){"string"==typeof e&&(e=new Error(e)),i("err",[e,f.now()])}},{}],2:[function(e,t,n){function r(e,t){var n=[],r="",i=0;for(r in e)o.call(e,r)&&(n[i]=t(r,e[r]),i+=1);return n}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],3:[function(e,t,n){function r(e,t,n){t||(t=0),"undefined"==typeof n&&(n=e?e.length:0);for(var r=-1,o=n-t||0,i=Array(o<0?0:o);++r<o;)i[r]=e[t+r];return i}t.exports=r},{}],4:[function(e,t,n){t.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,t,n){function r(){}function o(e){function t(e){return e&&e instanceof r?e:e?c(e,u,i):i()}function n(n,r,o,i){if(!d.aborted||i){e&&e(n,r,o);for(var a=t(o),u=m(n),c=u.length,f=0;f<c;f++)u[f].apply(a,r);var p=s[y[n]];return p&&p.push([b,n,r,a]),a}}function l(e,t){v[e]=m(e).concat(t)}function m(e){return v[e]||[]}function w(e){return p[e]=p[e]||o(n)}function g(e,t){f(e,function(e,n){t=t||"feature",y[n]=t,t in s||(s[t]=[])})}var v={},y={},b={on:l,emit:n,get:w,listeners:m,context:t,buffer:g,abort:a,aborted:!1};return b}function i(){return new r}function a(){(s.api||s.feature)&&(d.aborted=!0,s=d.backlog={})}var u="nr@context",c=e("gos"),f=e(2),s={},p={},d=t.exports=o();d.backlog=s},{}],gos:[function(e,t,n){function r(e,t,n){if(o.call(e,t))return e[t];var r=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,t,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return e[t]=r,r}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],handle:[function(e,t,n){function r(e,t,n,r){o.buffer([e],r),o.emit(e,t,n)}var o=e("ee").get("handle");t.exports=r,r.ee=o},{}],id:[function(e,t,n){function r(e){var t=typeof e;return!e||"object"!==t&&"function"!==t?-1:e===window?0:a(e,i,function(){return o++})}var o=1,i="nr@id",a=e("gos");t.exports=r},{}],loader:[function(e,t,n){function r(){if(!x++){var e=h.info=NREUM.info,t=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&t))return s.abort();f(y,function(t,n){e[t]||(e[t]=n)}),c("mark",["onload",a()+h.offset],null,"api");var n=d.createElement("script");n.src="https://"+e.agent,t.parentNode.insertBefore(n,t)}}function o(){"complete"===d.readyState&&i()}function i(){c("mark",["domContent",a()+h.offset],null,"api")}function a(){return E.exists&&performance.now?Math.round(performance.now()):(u=Math.max((new Date).getTime(),u))-h.offset}var u=(new Date).getTime(),c=e("handle"),f=e(2),s=e("ee"),p=window,d=p.document,l="addEventListener",m="attachEvent",w=p.XMLHttpRequest,g=w&&w.prototype;NREUM.o={ST:setTimeout,SI:p.setImmediate,CT:clearTimeout,XHR:w,REQ:p.Request,EV:p.Event,PR:p.Promise,MO:p.MutationObserver};var v=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1071.min.js"},b=w&&g&&g[l]&&!/CriOS/.test(navigator.userAgent),h=t.exports={offset:u,now:a,origin:v,features:{},xhrWrappable:b};e(1),d[l]?(d[l]("DOMContentLoaded",i,!1),p[l]("load",r,!1)):(d[m]("onreadystatechange",o),p[m]("onload",r)),c("mark",["firstbyte",u],null,"api");var x=0,E=e(4)},{}]},{},["loader"]);
      </script>
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        //ga('require', 'displayfeatures');

        ga('create', 'UA-59453510-1', 'auto');
        ga('set', 'forceSSL', true);
        ga('require', 'ec');
        ga('require', 'GTM-T39F53X');
        ga('set', '&cu', 'USD');

            ga('ec:addProduct', {
              'id': '1',      // Product ID (string).
              'name': 'Flat bill 9Fifty snapback | New Era',       // Product name (string).
              'price': '18.0'       // Product base price (excluding digitization and decoration fee).
        });

        ga('ec:setAction', 'detail');       // Detail action.
        ga('send', 'pageview');
      </script>
      
    <script async src='../www.google-analytics.com/analytics.js'></script>
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
          n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
          document,'script','../connect.facebook.net/en_US/fbevents.js');
      fbq('init', '398669737136509'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=398669737136509&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:4297,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
      <script>
        window.addEventListener('load', function() {
          window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");$.src="http://v2.zopim.com/?2M3BPJ9QGwbQYeXjrIAznqVpJGBqqJQW";z.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e);})(document,"script");
        });
      </script>

      <script>
        fbq('track', 'ViewContent', {
            page: 'Product',
            product_name: "Flat bill 9Fifty snapback | New Era"
        });
      </script>
      <script async type="text/javascript" src="..//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script>
      <script async src="//my.hellobar.com/2b70bf79fe9398eba05941ecf06525da09e1db4f.js" type="text/javascript" charset="utf-8"></script>
      <script defer type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script defer src="../maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script defer="defer" src="assets/theme-main-671542c74fc014fe05e1edac1f6e4dd811c0e3e65aa4c717ffde0f0a00fdb862.js"></script>
      <script defer="defer" src="assets/spree/frontend/noty-lib-6a3361b6968ea1fb8082be17cd12a4cfd5b364b6c83c98f611add411568eb01f.js"></script>
      <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"fd28623d5d","applicationID":"82359750","transactionName":"IAkMTBBeXA4GQ05EFBEDBxcSQ18GFlIVREsQDg1P","queueTime":0,"applicationTime":737,"agent":""}</script>
      <script>
      //<![CDATA[

        window.addEventListener('DOMContentLoaded', function() {
        });

      //]]>
    </script>
        <title>Capbeast - Custom Hats, Snapbacks, Fitted Hats &amp; More</title>
        <title><%= content_for?(:title) ? yield(:title) : "Capbeast" %></title>
        <title>Custom Hats - Custom Snapbacks | CapBeast</title>


        <title id="Description">With jqxEditor, you can customize which tools are visible and which are not by setting the "tools" property.</title>

  </head>
  <body>
    <div class = "conatiner">
      <div class="wrapper">
        <%= render 'layouts/header' %>
        <hr style="margin-top: 0px; border-color: #d2d2d1;" />
          <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div> <!-- /container -->
  </body>
</html>
